body{
    font-family:"Century Gothic";
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

.main-line{
    border-top:1px solid #d1d1d1;
}

.Up-header{
    display:flex;
    justify-content: center;
    background-color: #3c3c3c;
}
.content-header{
    padding:10px 0 10px 0;
    margin:0;
    width:1105px;
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items:center;
}

.content-header li{
    margin-left: 30px;
}

.logo{
    margin-left:0;
    flex-grow:1;
}

.telephone{
    color:#d6b74a;
    font-weight:bold;
    font-size:18px;
}

.content-header input{
    border:1px solid white;
    background-color: transparent;
    color:#989898;
    padding:8px 0 8px 15px;
    font-size:14px;
}

.search-image{
    position:relative;
    left:-20px;
}

.room{
    display: flex;
    align-self: baseline;
    color:white;
    font-size: 14px;
}

.basket{
    display: flex;
    align-self: baseline;
    color:white;
    font-size: 15px;

}

.Down-header{
    display:flex;
    justify-content: center;
    background-color: #f0f0f0;
}

.header-menu{
    padding-left:0;
    height:80px;
    margin:0;
    width:1105px;
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-items:center;
    font-weight: bold;
    font-size:22px;
}

.header-menu li{
    width:100px;
    padding-right: 100px;
}

.categories{
    padding-left:50px;
    flex-grow:1;
}

.categories ul{
    background-color: #f0f0f0;
    display:none;
    flex-wrap:wrap;
}

.header-menu a{
    color:#3c3c3c;
}

.slider{
    display:flex;
    justify-content: center;
}
.slider-flex{
    background-color: #e9b637;
    width:1005px;
    padding:0 0 0 100px;
    display:flex;
    overflow: hidden;
}

.slider-button{
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.section-menu{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}

.partners-list{
    display:flex;
    flex-direction: row;
}