body{
    margin:0;
    padding:0;
}
.content-header{
    display:flex;
    flex-direction: row;
}
.header-menu{
   display: flex;
   flex-direction: row;
}
.slider{
    display:flex;
    flex-direction: column;
}
.slider-flex{
    display:flex;
    flex-direction: row;
}
.main-line1{
    border-top: 1px solid black;
}